################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AuthFlow.Test/bin/Debug/net7.0/testcentric.engine.metadata.dll
/AuthFlow.Test/bin/Debug/net7.0/System.Runtime.Caching.dll
/AuthFlow.Test/obj/Debug/net7.0/ref/AuthFlow.Test.dll
/AuthFlow.Test/bin/Debug/net7.0/System.Runtime.Caching.dll
/.vs/AuthFlow/DesignTimeBuild/.dtbcache.v2
/AuthFlow.Test/bin/Debug/net7.0/System.Runtime.Caching.dll
/AuthFlow.Test/bin/Debug/net7.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/AuthFlow.Test/bin/Debug/net7.0/AuthFlow.Domain.dll
/AuthFlow.Test/bin/Debug/net7.0/AuthFlow.Domain.pdb
/AuthFlow.Test/bin/Debug/net7.0/AuthFlow.Application.pdb
/AuthFlow.Test/bin/Debug/net7.0/AuthFlow.Infraestructure.dll
/AuthFlow.Test/bin/Debug/net7.0/AuthFlow.Infraestructure.pdb
/AuthFlow.Test/bin/Debug/net7.0/AuthFlow.Persistence.dll
/AuthFlow.Test/bin/Debug/net7.0/AuthFlow.Persistence.pdb
/AuthFlow.Test/bin/Debug/net7.0/AuthFlow.Test.deps.json
/AuthFlow.Test/bin/Debug/net7.0/AuthFlow.Test.pdb
/AuthFlow.Test/bin/Debug/net7.0/AuthFlow.Test.dll
/AuthFlow.Test/bin/Debug/net7.0/AuthFlow.Test.runtimeconfig.json
/AuthFlow.Test/bin/Debug/net7.0/Azure.Core.dll
/AuthFlow.Test/bin/Debug/net7.0/Azure.Identity.dll
/AuthFlow.Test/bin/Debug/net7.0/Castle.Core.dll
/AuthFlow.Test/bin/Debug/net7.0/FluentAssertions.dll
/AuthFlow.Test/bin/Debug/net7.0/FluentValidation.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.AspNetCore.Http.Abstractions.dll
/AuthFlow.Test/obj/Debug/net7.0/refint/AuthFlow.Test.dll
/AuthFlow.Test/bin/Debug/net7.0/System.Drawing.Common.dll
/AuthFlow.Test/bin/Debug/net7.0/System.Diagnostics.EventLog.dll
/AuthFlow.Test/bin/Debug/net7.0/System.IdentityModel.Tokens.Jwt.dll
/AuthFlow.Test/bin/Debug/net7.0/System.Memory.Data.dll
/AuthFlow.Test/bin/Debug/net7.0/System.Security.Permissions.dll
/AuthFlow.Test/bin/Debug/net7.0/System.Windows.Extensions.dll
/AuthFlow.Test/bin/Debug/net7.0/testhost.dll
/AuthFlow.Test/obj/Debug/net7.0/AuthFlow.Test.dll
/AuthFlow.Test/bin/Debug/net7.0/nunit_random_seed.tmp
/AuthFlow.Test/bin/Debug/net7.0/nunit.engine.core.dll
/AuthFlow.Test/bin/Debug/net7.0/nunit.engine.api.dll
/AuthFlow.Test/bin/Debug/net7.0/nunit.engine.dll
/AuthFlow.Test/bin/Debug/net7.0/nunit.framework.dll
/AuthFlow.Test/bin/Debug/net7.0/NuGet.Frameworks.dll
/AuthFlow.Test/bin/Debug/net7.0/NUnit3.TestAdapter.pdb
/AuthFlow.Test/bin/Debug/net7.0/NUnit3.TestAdapter.dll
/AuthFlow.Test/bin/Debug/net7.0/Newtonsoft.Json.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.TestPlatform.Utilities.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.TestPlatform.PlatformAbstractions.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.TestPlatform.CrossPlatEngine.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.TestPlatform.CoreUtilities.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.TestPlatform.CommunicationUtilities.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.Net.Http.Headers.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.IdentityModel.Tokens.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.IdentityModel.Logging.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.IdentityModel.Abstractions.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.SqlServer.Server.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.IdentityModel.JsonWebTokens.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.VisualStudio.TestPlatform.Common.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.Identity.Client.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.Extensions.ObjectPool.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.Extensions.Primitives.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.Extensions.Options.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.Extensions.Logging.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.Extensions.Http.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.Extensions.Logging.Abstractions.dll
/AuthFlow.Test/bin/Debug/net7.0/System.Configuration.ConfigurationManager.dll
/AuthFlow.Test/bin/Debug/net7.0/Moq.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.Win32.SystemEvents.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.Identity.Client.Extensions.Msal.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.Extensions.Configuration.Abstractions.dll
/AuthFlow.Test/bin/Debug/net7.0/testhost.exe
/AuthFlow.Test/bin/Debug/net7.0/System.Security.Cryptography.ProtectedData.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.Extensions.Caching.Memory.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.Extensions.Caching.Abstractions.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Relational.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.InMemory.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.Data.SqlClient.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.Bcl.AsyncInterfaces.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.AspNetCore.WebUtilities.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.AspNetCore.Http.Features.dll
/AuthFlow.Test/bin/Debug/net7.0/Microsoft.AspNetCore.Http.dll
/AuthFlow.Test/bin/Debug/net7.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/AuthFlow.Test/bin/Debug/net7.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/AuthFlow.Test/bin/Debug/net7.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/AuthFlow.Test/bin/Debug/net7.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/.vs/AuthFlow/FileContentIndex/e1335e52-3044-4f79-882f-c643e139f36e.vsidx
/.vs/AuthFlow/FileContentIndex/ce116c88-3e25-4add-bae9-23940499005e.vsidx
/.vs/AuthFlow/FileContentIndex/c8569d01-feee-429c-ada4-f4beaba3ad84.vsidx
/.vs/AuthFlow/FileContentIndex/a257b606-0e8a-4c57-9dc4-72d413c63386.vsidx
/.vs/AuthFlow/FileContentIndex/8f07db26-4f3f-4d86-9329-88eded9b64e9.vsidx
/.vs/AuthFlow/FileContentIndex/75bba153-1efe-4147-9a1d-24ec8b13d5bd.vsidx
/.vs/AuthFlow/FileContentIndex/72e26437-5a91-46de-b287-b6164c5fbc9e.vsidx
/.vs/AuthFlow/FileContentIndex/621518b7-fe94-460e-971b-01fab714964b.vsidx
/.vs/AuthFlow/v17/TestStore/0/testlog.manifest
/.vs/AuthFlow/v17/TestStore/0/759.testlog
/.vs/AuthFlow/v17/TestStore/0/755.testlog
/.vs/AuthFlow/v17/.futdcache.v2
/AuthFlow.Test/bin/Debug/net7.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/AuthFlow.Test/bin/Debug/net7.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
/AuthFlow.Test/bin/Debug/net7.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
/AuthFlow.Test/bin/Debug/net7.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/AuthFlow.Test/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Diagnostics.EventLog.Messages.dll
/AuthFlow.Test/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Diagnostics.EventLog.dll
/AuthFlow.Test/bin/Debug/net7.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
/AuthFlow.Test/bin/Debug/net7.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
/AuthFlow.Test/bin/Debug/net7.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
/AuthFlow.Test/bin/Debug/net7.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/AuthFlow.Test/obj/Debug/net7.0/AuthFlow.Test.pdb
/AuthFlow.Test/obj/Debug/net7.0/AuthFlow.Test.genruntimeconfig.cache
/AuthFlow.Test/obj/Debug/net7.0/AuthFlow.Test.csproj.FileListAbsolute.txt
/AuthFlow.Test/obj/Debug/net7.0/AuthFlow.Test.csproj.CopyComplete
/AuthFlow.Test/obj/Debug/net7.0/AuthFlow.Test.csproj.AssemblyReference.cache
/AuthFlow.Test/bin/Debug/net7.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/.vs/ProjectEvaluation/authflow.projects.v6.1
/.vs/ProjectEvaluation/authflow.metadata.v6.1
/AuthFlow.Api/obj/Debug/net7.0/AuthFlow.Api.csproj.FileListAbsolute.txt
/AuthFlow.Api/obj/Debug/net7.0/AuthFlow.Api.csproj.AssemblyReference.cache
/AuthFlow.Application/obj/Debug/net7.0/AuthFlow.Application.csproj.AssemblyReference.cache
/AuthFlow.Infraestructure/obj/Debug/net7.0/AuthFlow.Infraestructure.csproj.AssemblyReference.cache
/AuthFlow.Persistence/obj/Debug/net7.0/AuthFlow.Persistence.csproj.AssemblyReference.cache
/AuthFlow.Test/bin/Debug/net7.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/InternalTrace.3856.log
/AuthFlow.Test/bin/Debug/net7.0/InternalTrace.22624.log
/AuthFlow.Test/bin/Debug/net7.0/InternalTrace.17216.log
/AuthFlow.Test/bin/Debug/net7.0/AuthFlow.Application.dll
/AuthFlow.Test/bin/Debug/net7.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/AuthFlow.Test/bin/Debug/net7.0/InternalTrace.9792.log
/AuthFlow.Test/bin/Debug/net7.0/InternalTrace.28628.log
/AuthFlow.Test/bin/Debug/net7.0/InternalTrace.18200.log
/.vs/AuthFlow/FileContentIndex/7dab6bbb-199a-4549-9d9b-82e768b0be11.vsidx
